.alli-shepard .disk {
  background: url(../_img/sapient-employees/Alli_Shepard.jpg) 0px 0px no-repeat;
  background-size: 100%;
}
.aram-yang .disk {
  background: url(../_img/sapient-employees/Aram_Yang.jpg) 0px 0px no-repeat;
  background-size: 100%;
}
.ashton-grosz .disk {
  background: url(../_img/sapient-employees/Ashton_Grosz.jpg) 0px 0px no-repeat;
  background-size: 100%;
}
.brian-davidoff .disk {
  background: url(../_img/sapient-employees/Brian_Daviadoff.jpg) 0px 0px no-repeat;
  background-size: 100%;
}
.jon-mittelbronn .disk {
  background: url(../_img/sapient-employees/Jon_Mittelbronn.jpg) 0px 0px no-repeat;
  background-size: 100%;
}
.michael-leonard .disk {
  background: url(../_img/sapient-employees/Michael_Leonard.jpg) 0px 0px no-repeat;
  background-size: 100%;
}
